:root {
    --primary-color: #5effb9;
    --background-img: url("../src/assets/bg-2.svg");
    --bg-blur: rgba(0, 0, 0, 0.256);
    --text-color: #fff;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
}

body {
    background-image: var(--background-img);
    background-size: cover;
    background-repeat: repeat-y;
    user-select: none;
    color: var(--text-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

@media (max-width: 800px) {
    body {
        background-image: url("../src/assets/bg-3.svg");
        background-attachment: fixed;
    }
}

.pointer {
    cursor: pointer;
}

.skills:hover {
    filter: drop-shadow(2px -2px 4px var(--primary-color));
}

.card-blur {
    background: var(--bg-blur);
    backdrop-filter: blur(7px);
}

.body-header {
    box-shadow: 1px 1px 11px var(--primary-color);
    z-index: 100;
    position: sticky;
    top: 0;
    min-height: 13vh;
}

.body-header .name {
    font-size: 25px;
}

.btn {
    color: var(--primary-color);
    transition: all .3s;
    border: none;
}

.btn-blackgreen {
    color: var(--primary-color);
}

.btn-blackgreen:hover {
    filter: sepia(1);
    transform: scale(1.2);
}

.subir {
    transition: all 1s;
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-size: 50px;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 90%;
    right: 2%;
    animation: animation-subir 3s infinite ease-in;
}

.subir:active {
    transition: .1s;
    transform: scale(1.2);
    color: #fff;
}

.body-contact {
    min-height: 100vh;
}

.body-contact a {
    transition: all .3s;
    font-size: 40px;
}

.body-contact a:hover {
    transform: scale(1.5);
}

label {
    background: rgba(19, 22, 16, 0.212);
}

label p {
    color: var(--primary-color);
}

input[type="text"], textarea, input[type="email"] {
    outline: none;
    margin-left: 4px;
    background: transparent;
    border: none;
}

input:focus, textarea:focus {
    background: #fff1;
    outline: 2px solid #fff2;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 7px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 5px;
}

.body-home, .body-projects, .body-about {
    min-height: 100vh;
    width: 100vw;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    scroll-behavior: smooth;
}

.container-projects .card-blur {
    width: 45%;
    margin: 4px;
    font-size: 10px;
    margin-inline: 3px;
}

.body-contact button[type="submit"] {
    color: var(--primary-color);
    font-size: 30px;
}

@keyframes show-entry {
    0% {
        opacity: 0%;
        filter: blur(20px);
        top: 100%;
        transform: translateY(205px) scaleX(0.5);
    }
    50% {
        filter: blur(3px);
        transform: translateY(0px);
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hide-exit {
    0% {
        opacity: 100%;
        filter: blur(3px);
    }
    50% {
        opacity: 50%;
        transform: translateY(20px);
    }
    100% {
        opacity: 0%;
        filter: blur(20px);
    }
}

.oculto {
    opacity: 0%;
    transition: all 0.33s;
}

.show-sub {
    opacity: 100%;
}

.show {
    opacity: 100%;
    animation: show-entry 0.33s linear 1;
}

.hide {
    animation: hide-exit 0.33s linear 1;
    opacity: 0%;
}


.marquee {
    height: 50%;
}

.marquee-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.marquee div img {
    height: 100%;
}

@keyframes text-gradient {
    0% {
        opacity: 0%;
        background: linear-gradient(to right, #fff, #000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    20% {
        background: linear-gradient(to top, #fff, var(--primary-color));
        text-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color), 0 0 5px var(--primary-color);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 90%;
    }
    50% {
        opacity: 50%;
        background: linear-gradient(to left, #000, var(--primary-color));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient(to right, #fff, #000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 0%;
    }
}

.text-web {
    animation: text-gradient 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes animation-1 {
    0%, 100% {
        color: #000;
        text-shadow: 0 0 2px var(--primary-color), 0 0 5px var(--primary-color), 0 0 9px var(--primary-color), 0 0 10px var(--primary-color), 0 0 12px var(--primary-color), 0 0 15px var(--primary-color), 0 0 19px var(--primary-color);
    }
    40% {
        color: #000;
        text-shadow: 0 0 2px var(--primary-color), 0 0 8px var(--primary-color);
    }
}

.btn-nav:hover {
    animation: animation-1 1.6s ease-out infinite;
}

html {
    scroll-behavior: smooth;
  }
  
  .spinner {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  